/* @font-face {
    font-family: 'SEGA LOGO FONT';
 
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url(' 3066-font.otf')format('Otf');  
    @font-face 

}  
}
h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4; */